<h1>New foo</h1>

<% form_for(@foo) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', foos_path %>